.header{
    height: 100px !important;
    line-height: 100px !important;
    padding: 0px !important;
    margin: 10px 0 20px !important;
}

.header h1 {
    background-color: navy;
    color: white;
    line-height: 100px;
    margin-bottom: 25px !important;
    border-radius: 7px;
}

.card {
    margin: 10px 0px !important;
}